{%extends baseview.liquid%}
{%assign title = "View Single Post"%}

{%block head%}
  <script src="/js/singlepost.js"></script>
{%endblock%}

{%block content%}
<div id="post_{{post.id}}_title" class="single-post-title">
  {{post.title}}
</div>
<input class="title-editor" value="{{post.title}}" type="hidden"></input>

<div id="post_{{post.id}}_content" class="single-post-content">
  {{post.content}}
</div>

<input class="content-editor" value="{{post.content}}" type="hidden"></input>

<button class="delete-post" target="{{post.id}}">Delete</button>
<button class="edit-post" target="{{post.id}}">Edit</button>
{%endblock%}
